name : Backend Tests

on:
  workflow_call: 

  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python 3.11 and Cache
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      
      - name: Install Frontend Dependencies 
        working-directory: ./backend
        run: pip install -r requirements.txt

      - name: Install UV
        run: pip install uv

      - name: Install Backend Dependencies
        working-directory: ./backend
        run: uv sync